html {
	background: #FFF;
	display: block;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-rendering: optimizeLegibility;
}
body {
	color: #545454;
	margin: 10px;
}
#tudo { width: 100%; }
.negrito { font-weight: bold; }
.verde { color: #A9CE4D; }
.azul { color: #85A0BD; }
.laranja { color: #FAD06E; }
.verde { color: #96B772; }
.amarelo { color: #FC6; }
.cinza1 { color: #666; }
.cinza2 { color: #999; }
.cinza3 { color: #CCC; }
.preto { color: #000; }
.vermelho { color: #C23639; }
.fonte2 { font-size: 2em; }
.fonte1_5 { font-size: 1.5em; }
.fonte1_4 { font-size: 1.4em; }
.fonte1_3 { font-size: 1.3em; }
.fonte1_2 { font-size: 1.2em; }
.fonte1_1 { font-size: 1.1em; }
.fonte1 { font-size: 1em; }
.fonte_9 { font-size: .9em; }
.fonte_8 { font-size: .8em; }
.fonte_7 { font-size: .7em; }
.fonte_6 { font-size: .6em; }
.fonte_5 { font-size: .5em; }
.fonte_small { font-size: small; }
.fonte_large { font-size: large; }
h1, h2, h3, h4 { }
a, a:focus, a:active, a:visited {
	color: #666;
	moz-outline-style: none;
	outline: none;
}
a:hover { color: #000; }
.clear { clear: both; }
hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-shadow: 1px 1px 0px #DEDEDE;
}
h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-shadow: 1px 1px 0px #DEDEDE;
}
.right { float: right; }
.left { float: left; }
.linha {
	height: 30px;
	line-height: 30px;
}
.col_esq {
	text-align: right;
	width: 25%;
}
.col_dir { width: 75%; }