ul#menu_lava {
  float: left;
  overflow: auto; /* makes sure the container fits the floated list-items below */
}

ul#menu_lava li{
  position: relative;
  z-index: 5; /* raises the z-index of the line item 5 levels all other elements */
  padding: 6px 14px;
  float: left; /* floats list items to the left, creating a horizontal menu */
}

ul#menu_lava li.backLava {
    background: url('../img/menu_direita.png') no-repeat top right;
    position: absolute;
}

ul#menu_lava li.backLava div.leftLava {
    background: url('../img/menu.png') no-repeat top left;
    height: 100%;
    margin-right:5px;
}

