@font-face { /* Fonte Google  - Squirrel */
    font-family: 'OpenSansSemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
	display: block;
	font-family: 'OpenSansSemibold', arial, helvetica, sans-serif;
	font-size: 1em;
	text-rendering: optimizelegibility; /* SVG */
  background: transparent url(../img/manutencao.png) repeat-x fixed right bottom;
}
#aviso {
  font-size: 2em;
  text-align: center;
}
#logotipo {
  min-height: 300px;
  width: 100%;
}
#menu {
  font-size: 1em;
  text-align: center;
}
#menu a { text-decoration: none; }
#menu a:hover { text-decoration: underline; }