/* CSS Document */
html {
	font-size: .8em;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	display: block;
}
body {
	color: #545454;
	background-color: #FCFCFC;
}
#tudo{ width: 980px; margin: 0 auto; background: #F5F5F5; padding: 30px 0; }
#conteudo { margin: 0 20px; }

.negrito{ font-weight: bold; }

#ative{ text-align: center; }
#ative img { margin: 0 auto 5px; }
#ative h1 { color: #C23639; font-size: 1.5em; font-weight: bold; }

#use table.versao { width: 50%; text-align: center; border: none; vertical-align: middle; padding: 0; }
#use table.versao caption { color: #090; font-size: 1.5em; font-weight: bold; }
#use table.versao td, tr, th, thead, tbody { border: none !important; }
#use table.versao tr td { padding: inherit; text-align: center; }

#atualizar { text-align: center; display: none; }
#atualizar img { margin: 5px auto 0; }

table { width: 100%; text-align: center; border: 1px solid #CCC; vertical-align: middle; }
table caption { padding: 10px 0; font-weight: bold; font-size: .9em; color: #999; }
table td, tr, th { border: 1px solid #CCC; vertical-align: middle; }
table thead tr th { font-weight: bold; line-height: 2em; }
table tbody tr td { padding: 5px 25px; text-align: left; }
table tbody tr td.navegador { padding: 5px 0px; text-align: center; }
table tbody tr td ol { list-style: decimal; }



