/* CSS Document */
html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #26292E;
}
html a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #666;
}
.corner {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#tudo {
	background-color: #202327;
	width: 95%;
	min-height: 100%;
	magin: 15px;
}
#centro {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -200px;
	background: transparent url(../../img/login/login.png) scroll no-repeat center center;
}
#centro form label {
	display: block;
	font-size: .8em;
	color: #666;
	font-weight: bold;
	margin: 3px 25px;
}
#centro form label.error {
	background: transparent url(../../img/icons/bullet_red.png) no-repeat left center;
	border: 0px;
	color: #C23639;
	font-weight: normal;
	display: block;
	padding: 2px 0px 0px 15px;
	margin: 2px 0px 0 25px;
}
#login h1 {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px 25px 0;
	padding: 0 0 10px 0;
}
#centro form input {
	display: block;
	margin: 0px 25px 5px;
	border: #BBB solid 1px;
	height: 25px;
	padding: 0px 5px;
}
#link {
	font-size: .7em;
	margin: 5px 25px 0px 25px;
}
img#logodblinks {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.logotipo{
	position: relative;
	text-align: center;
  margin: 5px 0;
}
/* Mensagem */
.noscript {
	display: block !important;
	padding: 7px 20px 7px 50px;
	background: #fffbcc url(../../img/icons_/exclamation.png) 10px 50% no-repeat;
	border: 2px solid #e6db55;
	font-weight: bold;
	color: #666452;
}
.mensagem {
	border: 1px solid;
	padding: 10px 10px 10px 35px;
	margin: 15px auto 0;
	background-position: 10px 50% !important;
	background-repeat: no-repeat !important;
	position: relative;
	width: 75%;
	font-size: .8em;
}
.mensagem p, .mensagem p {
	margin: 0;
	padding: 0;
}
.erro {
	background: #ffcece url(../../img/icons/cross.png);
	border-color: #df8f8f;
	color: #C23639;
	margin: 0px auto 5px;
}
.sucesso {
	background: #d5ffce url(../../img/icons/tick.png);
	border-color: #9adf8f;
	color: #556652 !important;
	margin: 0px auto 5px;
}
button.verde { border:1px solid #C6D880; margin: 0px 25px 5px; padding: 8px 12px; background-color: #FFF; }
button.verde:hover {
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}
button.verde:active {
	background-color:#529214;
	border:1px solid #529214;
	color:#fff;
}
