#endereco {
	font-size: .75em;
	line-height: 1.5em;
}
#endereco h3 {
	color: @escura;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}
#endereco div.legenda {
	text-align: center;
	width: 100%;
}
#formulario table {
	border-collapse: separate;
	border-spacing: 2px;
	width: 610px;
}
#formulario form input, select, textarea {
	background-color: #fefefe;
	border-bottom: 1px solid #b8b9bb;
	border-left: 1px solid #eaebef;
	border-right: 1px solid #b8b9bb;
	border-top: 1px solid #eaebef;
  color: #666;
	font-size: .75em;
	letter-spacing: 0;
	padding: 0 5px;

}
#formulario form input, select { height: 26px; }
#formulario form input[type="image"] { border: 0; }
#formulario label {
	font-size: .75em;
	font-weight: bold;
  width: 100%;
}
#formulario label.error {
	color: #C00;
	display: block;
	font-size: .75em;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 5px;
}
#formulario form textarea { font-family: inherit; }
.newsletter {
	font-size: .75em;
	text-align: right;
	vertical-align: top;
}
.newsletter input {
  height: 14px !important;
  margin-top: 0px;
}