.col33 {
	border-right: 1px solid #CCC;
	color: #333;
	float: left;
	font-size: .8em;
	line-height: 1.2em;
	margin-right: 1%;
	min-height: 300px;
	width: 32%;
}
.col33:last-child { border-right: 0; }
a:link, a:visited, a:hover, a:active {
  color: #333;
	text-decoration: none;
}
a:hover, a.current { color: @forte; }
h3 { font-weight: bold; }