/* Representante */
#links { display: none; }
#mapa_brasil {
  border-left: 0;
  height: 272px;
  width: 276px;
}
#uf {
	background: @escura;
	color: #fff;
	font-size: .75em;
  float: left;
	height: 1em;
	line-height: 1em;
	padding: 5px;
	vertical-align: middle;
  width: 100%;
}
#texto { font-size: .75em; }
#representantes {
	font-size: .75em;
	line-height: 1.25em;
}
#representantes h1 {
	border-bottom: 2px solid @escura;
	font-size: 1.5em;
	margin-bottom: 10px;
}
#representantes h2 {
  margin-bottom: 2px;
  text-transform: capitalize;
}
#representantes hr {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #ccc;
}
.representante .dado {
	float: left;
  min-height: 90px;
	width: 75%;
}
.representante .logotipo {
	float: left;
	width:25%;
}
.representante .logotipo img {
	max-height: 80px;
  max-width: 155px;
}
.parceiros {
	height: 26px;
	line-height: 26px;
	vertical-align: top;
}
