/* Servico */
#servicos {
	border-top: 1px dotted #ccc;
	float: left;
	height: auto;
	overflow: auto;
}
#servicos .servico {
	background-color: #fff;
	border-bottom: 1px dotted #ccc;
	color: #333;
	float: left;
	padding-bottom: 12px;
	padding-top: 10px;
	width: 100%;
}
#servicos .servico a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
#servicos .servico:hover a { color: @escura; }
#servicos .servico:hover {
	background-color: #fbfbfb;
	border-bottom-color: #999;
	color: @escura;
}
#servicos .servico .categoria {
	background: @clara;
	color: #fff;
	font-size: .5em;
  float: left;
	height: 6px;
	letter-spacing: .2em;
	line-height: 6px;
	margin-bottom: 5px;
	padding: 3px;
	text-align: center;
}
#servicos .servico h4 {
	color: @escura;
	font-size: .65em;
	font-weight: bold;
	line-height: 1.2em;
}