/*
azul
fraco @clara
forte @escura
*/
@font-face { /* Fonte Google  - Squirrel */
    font-family: 'OpenSansSemibold';
    src: url('../../../css/OpenSans-Semibold-webfont.eot');
    src: url('../../../css/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../css/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
	display: block;
	font-family: arial, helvetica, 'OpenSansSemibold', sans-serif;
	font-size: 1em;
	text-rendering: optimizelegibility; /* SVG */
  background: #227DD6 url(../img/background.png) repeat-x scroll right top;
}
body {
	background: url(../../../img/fundo.jpg) repeat-x scroll right top; /* Fundo personalizado */
	color: #333;
}
a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
}
a:hover, a.current { color: @escura; }
form input { outline: none; }
h1 {
	color: #333;
	font-family: 'OpenSansSemibold', arial, helvetica, sans-serif;
	font-size: 1.0em;
	height: 25px;
	line-height: 25px;
	text-transform: uppercase;
	vertical-align: middle;
}
h1:first-letter, #box-noticia h1:first-letter { font-size: 1.2em; }
h2 {
	color: @escura;
	font-size: 1.2em;
	margin-bottom: 20px;
}
strong { font-weight: bold !important; }
em { font-style: italic; }
.clear-both { clear: both !important; }
.clear-right { clear: right; }
.clear-left { clear: left; }
.right { float: right; }
.left { float: left; }
.fonte-google { font-family: 'OpenSansSemibold', arial, helvetica, sans-serif; }
.margem {
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.margem-direita { margin-right: 20px !important; }
.margem-esquerda { margin-left: 20px !important; }
.corner {
	border-radius: 5px;/*  HTML5 */
	khmtl-border-radius: 5px; /* KDE */
	moz-border-radius: 5px; /* FF */
	webkit-border-radius: 5px; /* Webkit */
}
.negrito { font-weight: bold; }
.destaque { color: @escura; }
.obrigatorio {
	color: @clara;
	vertical-align: bottom;
}
.linha {
	height: 30px;
	line-height: 30px;
}
.col_esq {
	text-align: right;
	width: 25%;
}
.col_dir { width: 75%; }
.mensagem {
	background-position: 10px 50% !important;
	background-repeat: no-repeat !important;
	border: 1px solid;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: .75em;
	margin: 5px 0;
	padding: 10px 10px 10px 35px;
	position: relative;
}
.alerta {
	background: #fffbcc;
	border-color: #e6db55;
	color: #666452 !important;
}
.sucesso {
	background: #d5ffce;
	border-color: #9adf8f;
	color: #556652 !important;
}
.right { float: right; }
.left { float: left; }
.l100f { width: 100%; }
.l100 { width: 95%; }
.l100m { width: 90%; }
.hidden { display: none; }
.upper { text-transform: uppercase; }
#esquerda {
	float: left;
	height: auto;
	margin-right: 40px;
	width: 280px;
}
#direita {
	float: left;
	width: 620px;
  min-height: 250px;
}
ul#paginacao {
	color: #999;
	float: left;
	font-size: .75em;
	height: 30px;
	height: auto;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
}
ul#paginacao li {
	background: url(../img/paginacao.png) no-repeat scroll top right;
	display: inline;
	float: left;
	height: 24px;
	line-height: 24px;
	margin: 0 2px;
	text-align: center;
	vertical-align: middle;
	width: 18px;
}
ul#paginacao li a { color: #666; }
ul#paginacao li:hover, ul#paginacao li.current { background: url(../img/paginacao.png) no-repeat scroll top left; }
ul#paginacao li:hover a, ul#paginacao li.current { color: #fff !important; }
ul#paginacao li.anterior a, #paginacao li.proxima a { color: #333; }
ul#paginacao li.anterior:hover a, ul#paginacao li.proxima:hover a { color: @escura !important; }
ul#paginacao li.anterior, #paginacao li.proxima { width: 50px; }
ul#paginacao .anterior, ul#paginacao li.anterior:hover {
	background: url(../img/seta_esq_c_m.png) no-repeat scroll center left;
	margin-right: 3px;
	padding-left: 12px;
}
ul#paginacao .proxima, ul#paginacao li.proxima:hover {
	background: url(../img/seta_dir_c_m.png) no-repeat scroll center right;
	margin-right: 3px;
	padding-right: 12px;
}
ul#paginacao .primeira, ul#paginacao .ultima { display: none; }
#tudo {
	margin: 0 auto;
	width: 1000px;
}
#box {
	background: #fff;
	height: auto;
	margin: auto 10px;
}
#cabecalho {
	background: url(../../../img/cabecalho.png) no-repeat scroll right center;
	height: 125px;
	margin-left: 10px;
	width: 980px;
}
#cabecalho #logotipo { float: left; }
#cabecalho #contato {
	color: #666;
	float: right;
	font-size: .75em;
	height: 63px;
	line-height: 1.5em;
	margin-top: 10px;
	text-align: right;
	vertical-align: middle;
	width: 70%;
}
#cabecalho #contato h3 img {
	line-height: 1.5em;
	margin-bottom: 4px;
	margin-left: 5px;
	vertical-align: middle;
}
#cabecalho #menu {
	color: #333;
	float: right;
	margin-left: 0px;
	margin-top: 5px;
}
#cabecalho #menu ul li {
	height: 30px !important;
	margin: 0;
	text-transform: uppercase;
}
ul#menu_lava {
  font-size: .9em;
  overflow: hidden;
}
ul#menu_lava li.selectedLava a { color: @escura !important; }
#busca-barra {
	background: url(../img/barra_busca.png) no-repeat scroll right center;
	color: #fff;
	height: 53px;
	line-height: 45px;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}
#busca-barra form {
  float: right;
  margin-right: 30px;
}
#busca-barra form input[type="text"] {
	border: 0;
  height: 23px;
	margin-right: 5px;
	padding: 0 5px;
	width: 470px;
}
#busca-barra form input[type="image"] {
	border: 0;
	margin-bottom: -9px;
}
#margem25 {
	clear: both;
	height: 25px;
}
#box-menu-lateral {
	float: left;
	height: 235px;
	overflow: hidden;
	position: relative;
	width: 180px;
}
ul#menu_lateral { position: relative; }
ul#menu_lateral li {
	background: #fff url(../img/indicador_categoria.png) scroll no-repeat top left;
	height: 27px;
	line-height: 23px;
	margin-bottom: 7px;
	vertical-align: middle;
}
ul#menu_lateral li a {
	font-size: .75em;
	margin-left: 20px;
}
ul#menu_lateral li:hover { background: #fff url(../img/indicador_categoria.png) scroll no-repeat bottom left; }
ul#menu_lateral li:hover a { color: #fff; }
#box-banner {
	float: right;
	height: 235px;
	width: 740px;
}
#box-banner .orbit-bullets li {
	background: url(../img/indicador_slide.png) scroll no-repeat left top;
	line-height: 29px;
	text-align: center;
	vertical-align: middle;
}
#box-banner .orbit-bullets li.active {
	background: url(../img/indicador_slide.png) scroll no-repeat right top;
	color: #fff;
}
#margem40 {
	clear: both;
	height: 40px;
}
.sublinhado-maior-ma {
	background-color: @escura;
	float: left;
	height: 5px;
	width: 10%;
}
.sublinhado-menor-ma {
	border-bottom: 1px solid #ccc;
	float: left;
	height: 4px;
	width: 90%;
}
.sublinhado-maior-me {
	background-color: @escura;
	float: left;
	height: 5px;
	width: 25%;
}
.sublinhado-menor-me {
	border-bottom: 1px solid #ccc;
	float: left;
	height: 4px;
	width: 75%;
}
#titulo {
	float: left;
	width: 90%;
}
.sublinhado-maior-titulo {
	background-color: @escura;
	float: left;
	height: 5px;
	margin-bottom: 20px;
	width: 8%;
}
.sublinhado-menor-titulo {
	border-bottom: 1px solid #ccc;
	float: left;
	height: 4px;
	margin-bottom: 20px;
	width: 70%;
}
.midias-sociais {
	color: #999;
	float: left;
	font-size: .75em;
	height: 20px;
	line-height: 20px;
	margin-bottom: 20px;
	text-align: right;
	vertical-align: top;
	width: 16%;
}
.midias-sociais img {
	margin-bottom: -5px;
	margin-left: 3px;
}

/* Rodapé */
#rodape {
	background: #fff;
	float: left;
	height: auto;
}
#copyright {
	background: @escura;
	color: #fff;
	float: left;
	font-size: .6em;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
	padding-left: 20px;
	vertical-align: middle;
	width: 920px;
}
#info {
	background: #fff;
	float: left;
	height: 28px;
	margin-bottom: 35px;
	margin-top: 10px;
}
#acesso {
	color: #999;
	float: left;
	font-size: .7em;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	margin-left: 5px;
	vertical-align: middle;
	width: 662px;
}
#acesso img { margin-right: 5px; }
#mapa, #rodape #info #credito {
	border-left: 1px solid #ccc;
	float: left;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	width: 135px;
}
#mapa { text-align: center; }
#mapa a {
	color: #333;
	font-size: .7em;
	font-weight: bold;
	text-decoration: none;
}
#mapa a:hover {
	color: @escura;
	text-decoration: none;
}
#credito {
	color: #999;
	font-size: .6em;
	text-align: right;
}
#credito a {
	color: #999;
	font-size: .7em;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
}

/* Busca */
#box-busca {
  display: none;
  position: relative;
  right: 70px;
  width: 480px;
  z-index: 99;
}
#box-busca .item .categoria{
  background: #DEDEDE;
  color: #666;
  font-size: .7em;
  letter-spacing: .2em;
  text-align: center;
  float: left;
  padding: 0 3px;
}
#box-busca .item img { margin-right: 3px; }
#box-busca .item {
  background: white;
  color: #333;
  border-top: solid 1px #FFF;
  font-size: .70em;
  height: 30px;
  line-height: 1em;
  padding: 4px;
  text-transform: none;
  width: 100%;
  overflow: hidden;
}
#box-busca .item:hover {
	background: @clara;
	color: #FFF;
}
#box-busca .item:hover a {
	color: #FFF;
}
#box-busca .item a { color: #333; }
#box-busca .item a:hover { color: #FFF; }