/* Página Inicial */
#box-produto {
	background: #fff;
	float: left;
	margin: 0 30px 0 0;
	width: 665px;
}
#box-produto h1 {
	/*background: #fff url(../img/seta2_dir_v_m.png) no-repeat scroll right center;*/
	float: left;
	width: 16%;
	*width: 17%;
}
#box-produto h2 {
	color: #999;
	float: left;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	margin-bottom: 0;
	margin-left: 5px;
	vertical-align: middle;
	width: 82%;
	*width: 81%;
}
#box-produto #produtos.inicial, #box-noticia #noticias.inicial { margin-top: 20px; }
#produtos.inicial {
	background: #fff;
	float: left;
	height: auto;
	overflow: visible;
}
#produtos.inicial .produto:hover img { border: 2px solid #3CA655; }
#produtos.inicial .produto:hover h3 { color: #3CA655 !important; }
#produtos.inicial .produto:hover div.detalhe { background: #fff url(../img/detalhe.png) no-repeat scroll 100% 0; }
#produtos.inicial .produto:hover div.detalhe a {
	color: #fff;
	text-decoration: none;
}
#produtos.inicial .produto {
	float: left;
	height: 181px;
	line-height: .75em;
	margin-right: 29px;
	width: 144px;
}
#produtos.inicial .produto img {
	border: 2px solid #ccc;
	margin-bottom: 5px;
}
#produtos.inicial .produto img:hover { border: 2px solid #3CA655; }
#produtos.inicial .produto h3 {
	color: #666;
	font-size: .6em;
	font-weight: bold;
	min-height: 24px;
	text-align: center;
}
#produtos.inicial .produto div.detalhe {
	background: #fff url(../img/detalhe.png) no-repeat scroll 0 0;
	font-size: .7em;
	height: 25px;
	margin-bottom: 18px;
	margin-left: 36px;
	margin-top: 5px;
	padding-top: 8px;
	text-align: center;
	width: 70px;
}
#produtos.inicial .produto a {
	color: #333;
	text-decoration: none;
}
#produtos.inicial .produto.last { margin-right: 0; }
#box-noticia {
	background: #fff;
	float: left;
	width: 255px;
}
#box-noticia h1 { background: #fff url(../img/seta2_baixo_v_m.png) no-repeat scroll 35% 50%; }
#noticias.inicial {
	border-top: 1px dotted #ccc;
	float: left;
	height: auto;
	overflow: auto;
}
#noticias.inicial .noticia {
	background-color: #fff;
	border-bottom: 1px dotted #ccc;
	color: #333;
	float: left;
	padding-bottom: 12px;
	padding-top: 10px;
	width: 100%;
  *width: 255px;
}
#noticias.inicial .noticia a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
#noticias.inicial .noticia:hover a { color: #3CA655; }
#noticias.inicial .noticia:hover {
	background-color: #fbfbfb;
	border-bottom-color: #999;
	color: #3CA655;
}
#noticias.inicial .noticia .data {
	background: #3CA655;
	color: #fff;
	font-size: .5em;
	height: 6px;
	letter-spacing: .2em;
	line-height: 6px;
	margin-bottom: 5px;
	padding: 3px;
	text-align: center;
	width: 25px;
}
#noticias.inicial .noticia h4 {
	color: #3CA655;
	font-size: .65em;
	font-weight: bold;
	line-height: 1.2em;
}
#noticias.inicial .vejamais {
	background: #fff url(../img/seta_dir_v_m.png) no-repeat scroll right center;
	color: #000;
	float: right;
	font-size: .65em;
	height: 21px;
	line-height: 21px;
	text-align: left;
	vertical-align: middle;
	width: 65px;
}
#noticias.inicial .vejamais a {
	color: #000;
	font-weight: bold;
}
#noticias.inicial .vejamais:hover a {
	color: #3CA655;
	font-weight: bold;
}
