.col33 { float: left; width: 32%; font-size: .8em; line-height:  1.2em; margin-right:  1%; border-right: 1px solid #CCC; min-height: 300px; color: #333; }
.col33:last-child { border-right:  0; }
a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
}
a:hover, a.current { color: #3CA655; }
h3 { font-weight: bold; }