/* Notícia */
#noticias {
	border-top: 1px dotted #ccc;
	float: left;
	height: auto;
	overflow: auto;
  width: 100%;
}
#noticias .noticia {
	background-color: #fff;
	border-bottom: 1px dotted #ccc;
	color: #333;
	float: left;
	padding-bottom: 12px;
	padding-top: 10px;
	width: 100%;
}
#noticias .noticia a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
#noticias .noticia:hover a { color: #3CA655; }
#noticias .noticia:hover {
	background-color: #fbfbfb;
	border-bottom-color: #999;
	color: #3CA655;
}
#noticias .noticia .data {
	background: #3CA655;
	color: #fff;
	font-size: .5em;
	height: 6px;
	letter-spacing: .2em;
	line-height: 6px;
	margin-bottom: 5px;
	padding: 3px;
	text-align: center;
	width: 25px;
}
#noticias .noticia h4 {
	color: #3CA655;
	font-size: .65em;
	font-weight: bold;
	line-height: 1.2em;
}
#texto #principal {
	float: left;
	margin: 0px 10px 0 0;
	position: relative;
	width: 270px;
}
#texto #principal #lupa {
	border: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
#texto #principal #legenda {
	background: #ebebeb;
	float: left;
	font-size: .7em;
	font-weight: bold;
	height: 25px;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}
#texto p {
	font-size: .75em;
	line-height: 1.5em;
	text-align: justify;
	text-indent: 1em;
}
#texto .fonte_data {
	font-size: .75em;
	line-height: 1.5em;
}
#texto h1.imagens { background: url(../img/seta2_baixo_v_m.png) no-repeat scroll 75px 50%; }
#texto div.imagens img {
	border: 1px solid #999;
	margin: 0 1px 2px 0;
}
#texto div.imagens img:hover { border: 1px solid #3CA655; }
ul#paginacao {
	border: 1px solid #f6f6f6;
	margin: 10px 5%;
	padding-top: 5px;
	width: 90%;
}
