/* Produtos/Categoria */
h2 {
	color: #3CA655;
	font-size: 1.2em;
	margin-bottom: 20px;
}
#esquerda {
	min-height: 450px;
	width: 350px;
}
#direita { width: 550px; }
#box-produto {
	background: #fff;
	float: left;
	margin: 0 30px 0 0;
	width: 665px;
}
#box-produto h1 {
	background: #fff url(../img/seta2_dir_v_m.png) no-repeat scroll right center;
	float: left;
	width: 10%;
	width: 11%;
}
#box-produto h2 {
	color: #999;
	float: left;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	margin-left: 5px;
	vertical-align: middle;
	width: 84%;
	width: 86%;
}
#box-produto { margin-top: 20px; }
#produtos {
	background: #fff;
	float: left;
	min-height: 200px;
	overflow: visible;
}
#produtos .produto:hover img { border: 2px solid #3CA655; }
#produtos .produto:hover h3 { color: #3CA655 !important; }
#produtos .produto:hover div.detalhe { background: #fff url(../img/detalhe.png) no-repeat scroll 100% 0; }
#produtos .produto:hover div.detalhe a {
	color: #fff;
	text-decoration: none;
}
#produtos .produto {
	float: left;
	height: 200px;
	line-height: .75em;
	margin-right: 39px;
	text-align: center;
	width: 156px;
}
#produtos .produto img {
	border: 2px solid #ccc;
	margin-bottom: 5px;
}
#produtos .produto img:hover { border: 2px solid #3CA655; }
#produtos .produto h3 {
	color: #666;
	font-size: .6em;
	font-weight: bold;
	min-height: 24px;
	text-align: center;
}
#produtos .produto div.detalhe {
	background: #fff url(../img/detalhe.png) no-repeat scroll 0 0;
	bottom: 0;
	font-size: .7em;
	margin-bottom: 18px;
	margin-left: 43px;
	margin-top: 5px;
	min-height: 24px;
	padding-top: 8px;
	position: relative;
	text-align: center;
	width: 70px;
}
#produtos .produto a {
	color: #333;
	text-decoration: none;
}
#produtos .produto.last { margin-right: 0; }
#opcoes {
	background: url(../../../img/produto_opcoes.png) scroll no-repeat center center;
	float: left;
	font-family: 'open sans', arial, helvetica, sans-serif;
	font-size: .75em;
	font-weight: normal;
	height: 44px;
	line-height: 44px;
	margin-top: 10px;
	text-transform: uppercase;
	vertical-align: middle;
	width: 351px;
}
#opcoes .indique, #opcoes .interesse {
	height: 23px;
	line-height: 23px;
	margin: 10px 0;
}
#opcoes a { vertical-align: top; }
#opcoes .indique img, #opcoes .interesse img {
	float: left;
	margin-right: 5px;
}
#opcoes .indique { margin-left: 15px; }
#video { margin: 30px 10px; }
#texto p {
	font-size: .75em;
	line-height: 1.5em;
	text-align: justify;
	text-indent: 1em;
}
#texto ul {
	font-size: .75em;
	line-height: 1.5em;
	list-style: inherit;
	padding-left: 15px;
}
#texto h3 {
	color: #3CA655;
	font-size: .75em;
	font-weight: bold;
	line-height: 1.25em;
}
#texto ul.caracteristicas {
	font-size: .75em;
	line-height: 1.25em;
	list-style: none;
	padding: 0;
}
#texto ul.caracteristicas li {
	background: url(../img/seta_dir_v_m2.png) scroll no-repeat center left;
	padding-left: 8px;
}
#texto #box_valor {
	color: #999;
	font-size: .75em;
	margin-top: 10px;
}
#box_valor .esquerda {
	float: left;
	width: 50px;
}
#box_valor span.valor {
	color: #3CA655;
	font-size: 1.5em;
	font-weight: bold;
}
#box_valor .direita {
	float: left;
	width: 200px;
}
.galleria-thumbnails .galleria-image { border: 1px solid #3CA655; }
#imagens { display: none; }
ul.tabs {
	height: 30px;
	list-style: none;
	margin: 0 !important;
	padding: 0;
}
ul.tabs li {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-top-right-radius: 10px;
	float: left;
	list-style-image: none !important;
	margin: 0 5px 0 0 !important;
	padding: 0;
	text-indent: 0;
}
ul.tabs li:hover a { color: #fff !important; }
ul.tabs li:hover { background-color: #3CA655; }
ul.tabs a {
	color: #333;
	display: block;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 1px;
	width: 100px;
}
ul.tabs a:active { outline: none; }
ul.tabs a:hover { color: #3CA655; }
ul.tabs a.current, ul.tabs li.current a {
	color: #3CA655 !important;
	cursor: default !important;
}
.panes {
	border: 1px solid #ccc;
	min-height: 350px;
}
.panes .midia {
	border-top: 0;
	display: none;
	font-size: 14px;
	min-height: 310px;
	padding: 15px 10px;
	width: 337px;
}
.panes .pane { display: none; }
#interesse, #indique { font-size: .75em; }
#interesse, #indique form {
	display: inline;
	width: 100%;
}
#interesse, #indique form input {
	border: 1px solid #ccc;
	height: 20px;
	padding: 0 5px;
}
#interesse, #indique form textarea {
	border: 1px solid #ccc;
	font-family: inherit;
  font-size: 1em;
	padding: 5px;
}
#interesse, #indique form input.no {
	border: inherit;
	height: inherit;
	padding: inherit;
}
#interesse, #indique form label { margin-right: 5px; }
#interesse, #indique form label.error {
	color: #3CA655;
	margin-left: 5px;
	vertical-align: top;
}
#tit_produto {
	background: #FFF url(../img/seta2_dir_v_m.png) no-repeat scroll right center;
	margin-right: 5px;
	width: 10%;
}
#tit_categoria {
	font-size: .75em;
	height: 25px;
	line-height: 25px;
	vertical-align: bottom;
	width: 60%;
}
#tit_categoria h2 {
	color: #999 !important;
	margin-bottom: 0;
}