/* CSS Document */
@charset "utf-8";

table { margin: 0 auto; }

table tr td { padding: 0 0 0 5px; }

table td {
	border-bottom: 1px solid #F1F1F1;
	line-height: 22px;
	margin: 0 0 0 5px;
}

table tr.ui-state-error td {
	border-bottom: 1px solid #CD0A0A;
	margin: 0 0 0 5px;	
}

table.tabela_zebra tr:nth-child(odd) { background-color: #F1F1F1; }

table.tabela_zebra tr:nth-child(even) { background-color: #FFFFFF; }

table.tabela_zebra tr:hover { background: #FFF7AE; /*#F2FFF2;*/ }

table.tabela_full tr:nth-child(odd) { background-color: #FFFFFF; }

table.tabela_full tr:nth-child(even) { background-color: #F0F0F0; }

table.tabela_full tr:hover { background: #FFF7AE; /*#F2FFF2;*/ }

