/* CSS Document */
#midias .midia { width:  300px;  height: 80px; float: left; border: 1px #F1F1F1 solid; margin: 5px 10px; }
#midias .imagem { max-width: 100px; max-height: 75px;  float: left; margin: 3px; }
#midias .imagem img { max-height: 75px; max-width: 100px; }
#midias .excluir{ cursor: pointer; color: #FF0000; }
#midias .principal { cursor: pointer; }
#arraste-arquivos { background: #FAFAFA; padding: 10px 10px 10px 35px; height: 50px; border: 2px #CCC dashed;  margin: 5px; color: #999; text-align: center; line-height: 50px; vertical-align: middle; font-size: 2em; }