/* CSS Document */
@import "admin_form.css";
@import "admin_table.css";
@import "admin_links.css";
::selection{ background-color: #87bd5f; color: white; }
::moz-selection{ background-color: #87bd5f; color: white; }
::webkit-selection{ background-color: #87bd5f; color: white; }
html {
	font-size: 1em;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	display: block;
  text-rendering: optimizeLegibility;
}
body {
	color: #545454;
	background:#FFF url(../../img/admin/bg_box_lateral.png) scroll repeat-y top left;
}
#tudo { width: 100%; }
.esquerda { }
.direita { }
.negrito { font-weight: bold; }
.verde { color: #A9CE4D; }
.azul { color: #85A0BD; }
.laranja { color: #FAD06E; }
.verde { color: #96B772; }
.amarelo { color: #FC6; }
.cinza1 { color: #666; }
.cinza2 { color:#999; }
.cinza3 { color:#CCC; }
.preto { color: #000; }
.vermelho { color: #C23639; }
.fonte2 { font-size: 2em; }
.fonte1_5 { font-size: 1.5em; }
.fonte1_4 { font-size: 1.4em; }
.fonte1_3 { font-size: 1.3em; }
.fonte1_2 { font-size: 1.2em; }
.fonte1_1 { font-size: 1.1em; }
.fonte1 { font-size: 1em; }
.fonte_9 { font-size: .9em; }
.fonte_8 { font-size: .8em; }
.fonte_7 { font-size: .7em; }
.fonte_6 { font-size: .6em; }
.fonte_5 { font-size: .5em; }
.fonte_small { font-size: small; }
.fonte_large { font-size: large; }
.col25 { width: 24%; }
.col33 { width: 32.33%; }
.col50 { width: 49%; }
.col75 { width: 74%; }
.left { float: left; }
.right { float: right; }
.clear { clear:both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
a, a:focus, a:active, a:visited {
	outline: none;
	-moz-outline-style: none;
	color: #666;
}
a:hover { color: #000; }

hr {
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
}
/* Layout */
#box_lateral {
	color: #545454;
	display: table-cell;
	height: 100%;
	min-width: 223px;
	vertical-align: top;
	width: 230px;
}
#box_conteudo {
	width: 100%;
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: top;
}
#conteudo {
	padding: 10px;
}
#conteudo h1
{
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: 1px 1px 0px #DEDEDE;
	text-rendering: optimizeLegibility;
	margin: 0 0 10px 0;
}
#conteudo h2
{
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 1px 1px 0px #DEDEDE;
	text-rendering: optimizeLegibility;
	margin: 0 0 10px 0;
}

/* Lateral */
#box_lateral #cabecalho { margin: 15px 0 15px 0px; }
#box_lateral #logotipo {
	background: url(../../img/dbprime.png) top center no-repeat;
	min-height: 75px;
  margin: 10px 0;
}
#box_lateral h1 {
	margin: 10px 0;
	text-shadow: 1px 1px 3px #DEDEDE;
	text-align: center;
}
#box_lateral #links {
	text-align: right;
	margin: 0 15px 10px 0;
	line-height: 1.5em;
}
#box_lateral ul, #box_lateral ul ul, #box_lateral ul li { list-style: none; }
#info_usuario { margin: 20px 0; }
ul#menu_lateral, ul#menu_lateral ul, ul#menu_lateral li {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul#menu_lateral li a.link {
	display: block;
	text-align: right;
	border-top: 1px solid #d0d0d0;
	padding: 18px 20px 18px 0;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #545454;
}
ul#menu_lateral li a.last { border-bottom: 1px solid #d0d0d0; }
ul#menu_lateral li a:hover {
	background-color: #fff;
	margin-right: 0px;
	padding-right: 20px;
}
ul#menu_lateral li a.current { background-color: #FFFFFF; }
ul#menu_lateral li a.current:hover {
	margin-right: 0;
	padding-right: 20px;
	cursor: default;
}
ul#menu_lateral li a.bottom-border { border-bottom: 1px solid #d0d0d0; }
ul#menu_lateral ul {
	padding: 5px 0 20px 0;
	margin-right: 5px;
	background-color: #F7F7F7;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #fcfcfc;
}
ul#menu_lateral ul li {
	text-align: right;
	padding: 2px 15px 4px 0;
}
ul#menu_lateral ul li a {
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #7e7e7e;
	padding-left: 15px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
  *display:inline;
}
ul#menu_lateral ul li a:hover {
	background: url(../../img/icons/status-offline.png) center left no-repeat;
	color: #333;
	background-color: transparent;
}
ul#menu_lateral ul li a.current {
	background: url(../../img/icons/status.png) center left no-repeat;
	background-color: transparent;
	border: 0;
	color: #333;
}
ul#menu_lateral ul li a:hover, ul#menu_lateral ul li a.current:hover {
	margin-right: 0;
	padding-right: 0;
}
#rodape_lateral {
	margin: 20px 0;
	text-align: center;
	line-height: 1.2em;
}
/* Conteudo */
#box_conteudo { font-size: .8em; }
#cabecalho {
	display: block;
	background-color: #424242;
	color: #CCD1D4;
	padding: 10px 10px;
}
#cabecalho h1 {
	font-size: 1.5em;
	color: #EEF1F4;
	margin: 0;
	display: inline-block;
	font-weight: bold;
}
#cabecalho p {
	font-style: italic;
	margin: 0 12px;
	display: inline-block;
}
#cabecalho-ajuda {
	float: right;
	margin: 0;
}
#atalhos {
	border: 1px solid #DDD;
	background-color: #F2F2F2;
	text-align: left;
	text-decoration: none;
	color: #666;
	overflow: auto;
}
#atalhos h6 {
	margin: 0px;
	padding: 8px 20px 8px 10px;
	display: inline-block;
	float: right;
	vertical-align: middle;
	color: #999;
}
#atalhos ul, #atalhos li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#atalhos li a {
	display: block;
	padding: 8px 10px;
	text-align: left;
	text-decoration: none;
	color: #666;
	vertical-align: middle;
	-webkit-background-clip: padding-box;
}
#atalhos li {
	display: inline-block;
	float: left;
	border-right: 1px solid #CCC;
}
#atalhos li li:first-child { border-left: none; }
#atalhos a.adicionar {
	background: #F2F2F2 url(../../img/icons/plus-circle.png) 10px 50% no-repeat;
	padding-left: 35px;
}
#atalhos a.listar {
	background: #F2F2F2 url(../../img/icons/application-list.png) 10px 50% no-repeat;
	padding-left: 35px;
}
/* Filtros */
#filtro {
	height: 34px;
	padding: 0 10px;
	border-bottom: 1px solid #C2C2C2;
}
#filtro form ul {
	list-style-type: none;
	margin-bottom: 0;
}
#filtro form li {
	float: left;
	margin: 4px 0 0 0;
}
#filtro a.cancelar {
	padding: 1px 6px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 8px;
	display: inline-block;
	font-size: .8em;
}
/* Mensagem */
.noscript {
	display: block !important;
	padding: 7px 20px 7px 50px;
	background: #fffbcc url(../../img/icons/exclamation.png) 10px 50% no-repeat;
	border: 2px solid #e6db55;
	font-weight: bold;
	color: #666452;
}
.mensagem {
	border: 1px solid;
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 10px 10px 10px 35px;
	margin: 0;
	background-position: 10px 50% !important;
	background-repeat: no-repeat !important;
	position: relative;
}
.mensagem-fade{
	display: none;
}
.mensagem p, .mensagem p {
	margin: 0;
	padding: 0;
}
.erro {
	background: #ffcece url(../../img/icons/cross-circle.png);
	border-color: #df8f8f;
	color: #C23639;
}
.alerta {
	background: #FFFBCC url(../../img/icons/exclamation.png);
	border-color: #E6DB55;
	color: #666452 !important;
}
.sucesso {
	background: #d5ffce url(../../img/icons/tick-circle.png);
	border-color: #9adf8f;
	color: #556652 !important;
}
.informacao {
	background: #dbe3ff url(../../img/icons/information.png);
	border-color: #a2b4ee;
	color: #585b66 !important;
}
.nota {
	background: #f5f5f5 url(../../img/icons/balloon-white.png);
	border-color: #CCCCCC;
	color: inherit !important;
}
.ajuda {
	background: #dbe3ff url(../../img/icons/question.png);
	border-color: #a2b4ee;
	color: inherit !important;
}
div.vermelho {
	background: #ffcece;
	border-color: #df8f8f;
	color: inherit !important;
}
div.amarelo {
	background: #FFFBCC;
	border-color: #E6DB55;
	color: inherit !important;
}
div.verde {
	background: #d5ffce;
	border-color: #9adf8f;
	color: inherit !important;
}
div.azul {
	background: #dbe3ff;
	border-color: #a2b4ee;
	color: inherit !important;
}
div.cinza {
	background: #f5f5f5;
	border-color: #CCC;
	color: inherit !important;
}
.fechar {
	background: transparent url(../../img/icons/cross-small.png) scroll no-repeat 50% 50%;
	text-indent: -99999px;
	overflow: hidden;
	display: block;
	position: absolute;
	right: 10px;
	top: 8px;
	height: 16px;
	width: 16px;
}
ul.zebra { width: 100%; }
ul.zebra li { padding: 6px 0; }
ul.zebra li.titulo { padding: 5px 0;  margin: 5px 0; background: #ECECEC !important; 	-moz-border-radius: 5px; -webkit-border-radius: 5px;	-khmtl-border-radius: 5px;	border-radius: 5px; }
ul.zebra h1.titulo { padding: 5px ; font-size: 2em; text-shadow: 1px 1px 2px #999 !important; margin: 0 0 0 5px; background: inherit; vertical-align: middle; color: #000; }
ul.zebra li:nth-child(even) {
	background: #F7F7F7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khmtl-border-radius: 5px;
	border-radius: 5px;
}
ul.zebra li:nth-child(odd) {
	background: #FFFFFF;
}

.box_inicial {
  margin: 2px;
  background-color: #FBFBFC;
  border: 1px solid #CCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.box_inicial .cabecalho { border-bottom: 1px solid #CCC; background: #DDD; }
.box_inicial h1 { padding: 5px 0 2px 5px; }
.box_inicial ul.list { padding: 5px 0 5px 5px; }
.box_inicial ul.list li { padding: 3px 0; }
.box_inicial ul.list li a { text-decoration: none; }