/* CSS Document */
/********** Links - Begin **********/
/** Alterar **/
a.alterar, a.alterar:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/pencil.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.alterar:visited, a.alterar:active
{
	text-decoration: none;
	color: #000000;
}

a.alterar:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Excluir **/
a.excluir, a.excluir:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/cross.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.excluir:visited, a.excluir:active
{
	text-decoration: none;
	color: #000000;
}

a.excluir:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Produto - detalhe **/
a.caracteristica, a.caracteristica:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/property.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.caracteristica:visited, a.caracteristica:active
{
	text-decoration: none;
	color: #000000;
}

a.caracteristica:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Midia **/
a.midia, a.midia:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/image.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.midia:visited, a.midia:active
{
	text-decoration: none;
	color: #000000;
}

a.midia:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Contato - Ler **/
a.ler, a.ler:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/email_open.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.ler:visited, a.ler:active
{
	text-decoration: none;
	color: #000000;
}

a.ler:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Contato - nao_ler **/
a.naoler, a.naoler:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/email.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.naoler:visited, a.naoler:active
{
	text-decoration: none;
	color: #000000;
}

a.naoler:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Usuário - permissao **/
a.permissao, a.permissao:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/key.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.permissao:visited, a.permissao:active
{
	text-decoration: none;
	color: #000000;
}

a.permissao:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Módulo - ativar **/
a.ativar, a.ativar:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/status.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.ativar:visited, a.ativar:active
{
	text-decoration: none;
	color: #000000;
}

a.ativar:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Módulo - desativar **/
a.desativar, a.desativar:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/status-offline.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.desativar:visited, a.desativar:active
{
	text-decoration: none;
	color: #000000;
}

a.desativar:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Módulo - desativar **/
a.sobe, a.sobe:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/status-offline.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.sobe:visited, a.sobe:active
{
	text-decoration: none;
	color: #000000;
}

a.sobe:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Módulo - desativar **/
a.desce, a.desce:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/status-offline.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.desce:visited, a.desce:active
{
	text-decoration: none;
	color: #000000;
}

a.desce:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Contato - Visualizar **/
a.visualizar, a.visualizar:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/eye.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.visualizar:visited, a.visualizar:active
{
	text-decoration: none;
	color: #000000;
}

a.visualizar:hover
{
	text-decoration: underline;
	color: #000000;
}

/** Tema - Aplicar **/
a.aplicar, a.aplicar:link
{
	padding: 0px 0px 2px 20px;
	background: url(../../img/icons/paint-can--arrow.png) no-repeat scroll left center;
	text-decoration: none;
	color: #000000;
}

a.aplicar:visited, a.aplicar:active
{
	text-decoration: none;
	color: #000000;
}

a.aplicar:hover
{
	text-decoration: underline;
	color: #000000;
}