@charset "UTF-8";
/* CSS Document */
.corner {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khmtl-border-radius: 5px;
	border-radius: 5px;
}
fieldset {
	margin: 0 auto 15px;
}
fieldset, legend {
	border: 1px solid #CCC;
	background: #FFFFFF;
	padding: 15px;
}
legend {
	padding: 3px 30px;
	margin: 2px 5px;
	font-weight: bold;
	background-color: #F1F1F1;
}
form.legend { font-weight: bold; }
form.inline { display: inline; }
form input, select, textarea, button {
	background-color: #fff;
	border-top: 1px solid #eaebef;
	border-right: 1px solid #b8b9bb;
	border-bottom: 1px solid #b8b9bb;
	border-left: 1px solid #eaebef;
}
form.form label {
	display: inline-block;
	float: left;
	font-weight: bold;
	width: 140px;
	max-width: 140px;
	min-width: 10em;
	margin-right: 15px;
	padding: .35em 0;
	text-align: right;
	font-size: .85em;
}
form.form input[type="text"] {
	/*width: 15%;*/
}
form.form input[type="checkbox"],input[type="radio"] {
	display: inline-block;
	margin: 0 2px 0 10px;
	width: 19px;
	height: 19px;
}
form.form span.obrigatorio {
	background: url(../../img/icons/status-busy.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 16px;
	margin-left: -4px;
	overflow: hidden;
	position: relative;
	text-indent: -9000px;
	top: -2px;
	vertical-align: top;
	width: 16px;
}
form input:focus, form select:focus, form textarea:focus { border: 1px solid #F90 !important; }
form input.error, form select.error, form textarea.error { border: #C23639 solid 1px !important; }
form input.required, select.required, textarea.required { border: 1px solid #009900; }
form input:focus, select:focus, textarea:focus { border: 1px solid #F90; }
form input:active, select:active, textarea:active { border: 1px solid #F30; }
form label.error, form div.selector label.error {
	text-align: left;
	float: inherit;
	background: transparent url(../../img/icons/status-busy.png) no-repeat left center;
	border: 0px;
	color: #C23639;
	font-weight: normal;
	display: inline;
	padding: 2px 0px 0px 17px;
	margin: 2px 10px;
}
form input:focus {
	background-color: #f7fcff;
	border: 1px solid #FC0;
}
label {
	display: inline;
	margin: 2px 0px;
	font-weight: bold;
}
label.nostrong { font-weight: normal; }
.dataTables_wrapper input[type="text"],input[type="file"] { display: inline !important; }
input { padding: 4px 4px 4px 4px; }
select { padding: 5px 4px 5px 4px; }
textarea { padding: 6px 4px 6px 4px; }

button {
	font-size: 1em;
	border: 1px solid #CCCCCC;
	padding: 8px 12px;
	min-width: 100px;
	background-color: #FFF;
}
button:hover {
	background-color:#F1F1F1;
	border:1px solid #CCCCCC;
	color:#565656;
}
button:active {
	background-color:#666666;
	border:1px solid #666666;
	color:#fff;
}

/* Azul */
button.azul { border:1px solid #c2e1ef }
button.azul:hover {
	background-color:#dff4ff;
	border:1px solid #c2e1ef;
	color:#336699;
}
button.azul:active {
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#fff;
}
a.azul{ text-decoration: none; background: inherit; }
a.azul:hover{ color:#336699 !important; }

/* Verde */
button.verde { border:1px solid #C6D880 }
button.verde:hover {
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}
button.verde:active {
	background-color:#529214;
	border:1px solid #529214;
	color:#fff;
}
a.verde{ text-decoration: none;	background: inherit; }
a.verde:hover{ color:#529214 !important; }

/* Amarelo */
button.amarelo { border:1px solid #FC6 }
button.amarelo:hover {
	background-color:#FFF6BF;
	border:1px solid #FFD324;
	color:#FF9900;
}
button.amarelo:active {
	background-color:#FFD324;
	border:1px solid #FFD324;
	color:#fff;
}
a.amarelo{ text-decoration: none; background: inherit; }
a.amarelo:hover{ color:#FF9900 !important; }

/* Vermelho */
button.vermelho { border:1px solid #fbc2c4 }
button.vermelho:hover {
	background:#fbe3e4;
	border:1px solid #fbc2c4;
	color:#d12f19;
}
button.vermelho:active {
	background-color:#d12f19;
	border:1px solid #d12f19;
	color:#fff;
}
a.vermelho {
	text-decoration: none;
	background: inherit;
}
a.vermelho:hover{
	color: #d12f19 !important;
}